{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true,
    "mongo": true
  },
  "rules": {
    // Strict is needed in Node
    "strict": 0,
    "max-len": 0,
    "require-jsdoc": "error",
    "valid-jsdoc": ["error", { "requireReturn": false }],
    "curly": 2,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "arrow-body-style": 0
  },
  "globals": {
    "google": false,
    "MapLabel": false,
    "MarkerClusterer": false
  }
}
