db:
    image: mongo
rolehaven:
    build: .
    environment:
        - DBHOST=db
    links:
        - db
    ports:
        - "8888:8888"
    volumes:
        - images:/usr/src/app/build/upload/images
