<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" type="text/css" href="styles/main.css"/>
	<title>{{title}}</title>
</head>
<body>
<div id="background">
	<ul class="feed" id="mainFeed">
		<li><span>Error. 404</span></li>
		<li><span>Please try again</span></li>
	</ul>
</div>
</body>
</html>