<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="stylesheet" type="text/css" href="styles/main.css"/>
		<title>{{title}}</title>
	</head>
	<body>
		<div id="background">
			<ul class="feed" id="mainFeed">
				<!-- Required for Safari to render text -->
				<li>
					<pre>&nbsp;</pre>
				</li>
			</ul>
			<div id="input" class="feed">
				<span id="inputStart"></span><span id="mode"></span><span id="inputText">
					<span id="leftText"></span><input id="marker" contenteditable="true" value="&nbsp;" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" /><span id="rightText"></span>
				</span>
			</div>
			<div id="spacer"><span>&nbsp;</span></div>
		</div>
		<!-- Required for Android 2.2. Browser will crash if there is only one input field -->
		<input disabled="true" id="hiddenInput" />
		<script src="/socket.io/socket.io.js"></script>
		<!--Android 2.2 fails when using cdn-->
		<!--<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>-->
		<script src="scripts/feed.js" charset="utf-8"></script>
	</body>
</html>